{% extends 'base.html.twig' %}

{% block title %} Captain Igloo must die {% endblock %}

{#
Redéfinition du bloc body qui a été déclaré dans le template parent
#}

{% block body %}

    <h1>{{ attacker }}</h1>

{% endblock %}